@model EasyLife.Application.MemberDto

@{
    ViewBag.Title = "会员管理";
}

<h2>会员管理</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>编辑会员</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.member_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.member_name)
                @Html.ValidationMessageFor(model => model.member_name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.member_sex, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.member_sex, (IEnumerable<SelectListItem>)ViewData["sex"])
                @Html.ValidationMessageFor(model => model.member_sex)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.member_birthday, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.member_birthday)
                @Html.ValidationMessageFor(model => model.member_birthday)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.member_phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.member_phone)
                @Html.ValidationMessageFor(model => model.member_phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.member_address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.member_address)
                @Html.ValidationMessageFor(model => model.member_address)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.member_pwd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.member_pwd)
                @Html.ValidationMessageFor(model => model.member_pwd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.status, (IEnumerable<SelectListItem>)ViewData["status"])
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>
        <div class="form-group hidden">
            <div class="col-md-10">
                @Html.Hidden("merchant_id")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "list", new { id = ViewData["merchant_id"] })
</div>
