@model PagedList.IPagedList<EasyLife.Application.MemberDto>
@using PagedList.Mvc;

@{
    ViewBag.Title = "会员管理";
}

<h2>会员管理</h2>

<p>
    @Html.ActionLink("新建", "create", new { id = ViewBag.MerchantID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].member_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].member_sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].member_birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].member_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].member_address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.member_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member_sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member_birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member_address)
            </td>
            <td>
                @Html.ActionLink("编辑", "edit", new { id = item.Id }) |
                @Html.ActionLink("详情", "details", new { id = item.Id }) |
                @Html.ActionLink("删除", "delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, pageNumber => Url.Action("List", new { pageNumber }))