@using System.Threading
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>EasyLife</title>
    @Styles.Render("~/Bundles/vendor/css")
    @Styles.Render("~/Bundles/css")
    <!-- View specific styles -->
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->
    @Scripts.Render("~/Bundles/vendor/js/top")
</head>
<body style="background-color:#cfcaca">
    @Html.Partial("_TopBar")

    <div class="container" style="background:#fff;">
        <div class="row">
            <div class="col-md-2" style="">
                <div>
                    <ul class="nav nav-pills nav-stacked" role="navigation">
                        <li class="active"><a href="/">首页</a></li>
                        <li><a href="/about">库</a></li>
                        <li><a href="#">应用</a></li>
                        <li><a href="#">资料</a></li>
                        <li><a href="#">设置</a></li>
                        <li><a href="#">帮助</a></li>
                        <li class="dropdown">
                            <div class="navbar-header dropdown">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target="#java">
                                    <span class="sr-only">切换导航</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand navbar-toggle" data-toggle="collapse"
                                   data-target="#java" href="#">
                                    W3Cschool
                                </a>
                            </div>
                            <div id="java" class="navbar-collapse collapse">
                                <ul class=" dropdown-menu">
                                    <li><a href="#">jmeter</a></li>
                                    <li><a href="#">EJB</a></li>
                                    <li><a href="#">Jasper Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">分离的链接</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">另一个分离的链接</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Java
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">jmeter</a></li>
                                <li><a href="#">EJB</a></li>
                                <li><a href="#">Jasper Report</a></li>
                                <li><a href="#">分离的链接</a></li>
                                <li><a href="#">另一个分离的链接</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-10">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/Bundles/vendor/js/bottom")
    @Scripts.Render("~/Bundles/js")
    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll"></script>
    <script src="~/AbpScripts/GetScripts" type="text/javascript"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.sweet-alert.js"></script>
    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
