@using System.Threading
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>EasyLife</title>
    @Styles.Render("~/Bundles/vendor/css")
    @Styles.Render("~/Bundles/css")
    <!-- View specific styles -->
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->
    @Scripts.Render("~/Bundles/vendor/js/top")
</head>
<body style="background-color:#cfcaca">
    @Html.Partial("_TopBar")
    <div class="container" style="background:#fff;">
        <div class="row">
            <div class="col-md-2" style="">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne">
                                    第 1 部分
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked" role="navigation">
                                    <li class="active"><a href="/">首页</a></li>
                                    <li><a href="/about">库</a></li>
                                    <li><a href="/category/list">分类</a></li>
                                    <li><a href="#">资料</a></li>
                                    <li><a href="#">设置</a></li>
                                    <li><a href="#">帮助</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo">
                                    第 2 部分
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked" role="navigation">
                                    <li><a href="/">首页</a></li>
                                    <li><a href="/about">库</a></li>
                                    <li><a href="#">应用</a></li>
                                    <li><a href="#">资料</a></li>
                                    <li><a href="#">设置</a></li>
                                    <li><a href="#">帮助</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree">
                                    第 3 部分
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked" role="navigation">
                                    <li><a href="/">首页</a></li>
                                    <li><a href="/about">库</a></li>
                                    <li><a href="#">应用</a></li>
                                    <li><a href="#">资料</a></li>
                                    <li><a href="#">设置</a></li>
                                    <li><a href="#">帮助</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFour">
                                    第 4 部分
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked" role="navigation">
                                    <li><a href="/">首页</a></li>
                                    <li><a href="/about">库</a></li>
                                    <li><a href="#">应用</a></li>
                                    <li><a href="#">资料</a></li>
                                    <li><a href="#">设置</a></li>
                                    <li><a href="#">帮助</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/Bundles/vendor/js/bottom")
    @Scripts.Render("~/Bundles/js")
    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll"></script>
    <script src="~/AbpScripts/GetScripts" type="text/javascript"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.sweet-alert.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
