@model EasyLife.Application.CityDto

@{
    ViewBag.Title = "城市详情";
}

<h2>Details</h2>

<div>
    <h4>城市详情</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.city_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pin_yin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pin_yin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.first_char)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_char)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hot)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "edit", new { id = Model.Id }) |
    @Html.ActionLink("返回列表", "list")
</p>
