@model EasyLife.City

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("edit","City"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CreateCityInput</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.city_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.city_name)
                @Html.ValidationMessageFor(model => model.city_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pin_yin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pin_yin)
                @Html.ValidationMessageFor(model => model.pin_yin)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "list")
</div>
