@model EasyLife.Application.CityDto

@{
    ViewBag.Title = "创建城市";
}

<h2>城市管理</h2>

@using (Html.BeginForm("create", "city"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>创建城市</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.city_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.city_name)
                @Html.ValidationMessageFor(model => model.city_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pin_yin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pin_yin)
                @Html.ValidationMessageFor(model => model.pin_yin)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.first_char, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.first_char)
                @Html.ValidationMessageFor(model => model.first_char)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.hot, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.hot, (IEnumerable<SelectListItem>)ViewData["hot"])
                @Html.ValidationMessageFor(model => model.hot)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "list")
</div>
