@*@model IEnumerable<EasyLife.Application.CityDto>*@
@*@model EasyLife.Application.CityList*@
@using PagedList.Mvc;
@model PagedList.IPagedList<EasyLife.Application.CityDto>
@{
    ViewBag.Title = "城市列表";
}

<h2>城市列表</h2>

<p>
    @Html.ActionLink("新建", "index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].city_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].pin_yin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].first_char)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.city_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pin_yin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_char)
            </td>
            <td>
                @Html.ActionLink("编辑", "edit", new { id = item.id }) |
                @Html.ActionLink("详情", "details", new { id = item.id }) |
                @Html.ActionLink("删除", "delete", new { id = item.id })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, pageNumber => Url.Action("List", new { pageNumber }))
