@model EasyLife.Application.MerchantDto

@{
    ViewBag.Title = "商户详情";
}

<h2>商户管理</h2>

<div>
    <h4>商户详情</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.merchant_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.merchant_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cat_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "edit", new { id = Model.Id }) |
    @Html.ActionLink("返回列表", "list")
</p>
