@model EasyLife.Application.MerchantDto

@{
    ViewBag.Title = "新建商户";
}

<link type="text/css" rel="stylesheet" href="~/js/customSite/static/public/css/jquery.multipul.css" />
<link type="text/css" rel="stylesheet" href="~/js/customSite/static/public/plugs/fileCut/css/jquery.fileCut.css" />
<h2>新建商户</h2>

@using (Html.BeginForm("create", "merchant"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>新建商户</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.Label("详情图片", new { @class = "control-label col-md-2" })
            <div id="outer-goods-detail" class="clearfix">
                <div class="mutipul-img-list clearfix" multipul="10">
                    <img id="cutgoodsdetail" src="~/add.png" style="width: 160px; height: 103px;
                    padding: 2px;" class="cut-goodsdetail upload-area" cuttype="cut-goodsdetail"
                         cutposition="1" cutmaxsize="2048" cutrange="642|412" sendurl="/merchant/upload"
                         cuttitle="添加图片" alertflag="1" imgtype="jpg|jpeg">
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.merchant_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.merchant_name)
                @Html.ValidationMessageFor(model => model.merchant_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bank, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bank)
                @Html.ValidationMessageFor(model => model.bank)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.account, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account)
                @Html.ValidationMessageFor(model => model.account)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.city_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("city_id")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cat_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cat_id")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contact_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contact_name)
                @Html.ValidationMessageFor(model => model.contact_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone)
                @Html.ValidationMessageFor(model => model.phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.status, (IEnumerable<SelectListItem>)ViewData["status"])
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn  btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "list")
</div>

<script type="text/javascript" language="javascript" src="~/js/customSite/static/public/js/jquery-ui-sortable.min.js"></script>
<script type="text/javascript" language="javascript" src="~/js/customSite/static/public/js/jquery.form.js"></script>
<script type="text/javascript" language="javascript" src="~/js/customSite/static/public/js/jquery.strTemplet.js"></script>
<script type="text/javascript" language="javascript" src="~/js/customSite/static/public/js/jquery.multiupload.js"></script>
<script type="text/javascript" language="javascript" src="~/js/customSite/static/public/js/jquery.imgareaselect.js"></script>
<script type="text/javascript" language="javascript" src="~/js/customSite/static/public/plugs/fileCut/js/md5.js"></script>
<script type="text/javascript" language="javascript" src="~/js/customSite/static/public/plugs/fileCut/js/jquery.fileCut.js"></script>
<script type="text/javascript" language="javascript" src="~/js/customSite/jscss/public/js/general.js"></script>
<script>
    $(function () {
        //裁剪图片
        $(window).useStrTemplet({ "str": "cut-textarea" });
        $(window).imgLisenEvent({
            url: "../../UploadHandler.aspx",
            operate: "uploadthum"
        });
        $(".mutipul-img-list").each(function () {
            $(this).imgListenInit();
        })
        $(".upload-area").each(function () {
            var $this = $(this);
            $this.cutEvent({
                callBack: function (s) {
                    $this.mutipulUpload({ "s": s })
                }
            })
        })
    });
</script>
