@model EasyLife.CreateMerchantInput

@{
    ViewBag.Title = "商户";
}

<h2>Index</h2>

@using (Html.BeginForm("create","merchant")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>新建商户</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.merchant_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.merchant_name)
                @Html.ValidationMessageFor(model => model.merchant_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bank, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bank)
                @Html.ValidationMessageFor(model => model.bank)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.account, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account)
                @Html.ValidationMessageFor(model => model.account)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.city_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("2", ViewData["CityId"] as SelectList);
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cat_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.cat_id)*@
                @Html.DropDownList("CategoryId")
                @Html.ValidationMessageFor(model => model.cat_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contact_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contact_name)
                @Html.ValidationMessageFor(model => model.contact_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone)
                @Html.ValidationMessageFor(model => model.phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "list")
</div>
