@model EasyLife.GetMerchantsOutput

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "create")
</p>
<table class="table">
    <tr>
        <th>
            merchant_name
        </th>
        <th>
            bank
        </th>
        <th>
            account
        </th>
        <th>
            city_id
        </th>
        <th>
            cat_id
        </th>
        <th>
            contact_name
        </th>
        <th>
            phone
        </th>
        <th>
            email
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.MerchantDto)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.merchant_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cat_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink("分类管理", "List", "Tag", new { id = item.Id }, new { target = "_self", @class = "className" }) |
                @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                @Html.ActionLink("详情", "Details", new { id = item.Id }) |
                @Html.ActionLink("删除", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
