@model EasyLife.GetCategorysOutput

@{
    ViewBag.Title = "行业列表";
}

<h2>List</h2>

<p>
    @Html.ActionLink("新建", "create")
</p>
<table class="table">
    <tr>
        <th>
            行业名称
        </th>
        <th>
            行业编码
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Categorys)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cat_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cat_code)
            </td>
            <td>
                @Html.ActionLink("编辑", "edit", new { id = item.id }) |
                @Html.ActionLink("详情", "details", new { id = item.id }) |
                @Html.ActionLink("删除", "delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
